In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score, mean_squared_error

import seaborn as sns
%matplotlib inline

In [2]:
df_calendar = pd.read_csv('/Users/rwalters/Documents/Airbnb Data 2020/calendar.csv')
df_listings = pd.read_csv('/Users/rwalters/Documents/Airbnb Data 2020/listings.csv', dtype='str')
df_reviews = pd.read_csv('/Users/rwalters/Documents/Airbnb Data 2020/reviews.csv')

In [3]:
# show calendar data sample
df_calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,140518,2020-04-17,f,$60.00,$60.00,1.0,365.0
1,13913,2020-04-16,f,$49.00,$49.00,1.0,29.0
2,13913,2020-04-17,f,$49.00,$49.00,1.0,29.0
3,13913,2020-04-18,f,$49.00,$49.00,1.0,29.0
4,13913,2020-04-19,t,$49.00,$49.00,1.0,29.0

In [ ]:
df_calendar['date'].plot(kind='bar', x=df_calendar['price'].sum(), stacked=True)
plt.show()

In [ ]:
# show calendar data types
df_calendar.dtypes

In [ ]:
df_calendar.isnull().sum()

In [ ]:
len(df_calendar)

In [ ]:
# show listings data sample
df_listings.head()

In [ ]:
# show listings data types
df_listings.dtypes

In [ ]:
df_listings.isnull().sum()

In [ ]:
# show reviews data sample
df_reviews.head()

In [ ]:
# show reviews data types
df_reviews.dtypes

In [ ]:
df_reviews.isnull().sum()