In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score, mean_squared_error

#import seaborn as sns
%matplotlib inline

df = pd.read_csv('/Users/rob_walters/Documents/Github Data/AirBnB/listings.csv')
df.shape[0]

/Users/rob_walters/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

86358

In [4]:
df.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,8.635800e+04,8.635800e+04,0.0,0.0,0.0,8.635800e+04,86348.000000,86348.000000,0.0,86358.000000,...,63150.000000,63091.000000,63145.000000,63092.000000,63091.000000,86358.000000,86358.000000,86358.000000,86358.000000,64842.000000
mean,2.511516e+07,2.020041e+13,NaN,NaN,NaN,9.334733e+07,25.805450,25.805450,NaN,51.509916,...,9.256089,9.619375,9.642949,9.545346,9.253428,20.987448,17.973506,2.392390,0.052224,0.963183
std,1.238307e+07,1.269929e+01,NaN,NaN,NaN,9.543753e+07,134.219607,134.219607,NaN,0.046204,...,1.156111,0.917570,0.913096,0.834854,1.057238,100.232081,98.678139,13.027134,0.712945,1.177591
min,1.391300e+04,2.020041e+13,NaN,NaN,NaN,4.775000e+03,0.000000,0.000000,NaN,51.294790,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.553035e+07,2.020041e+13,NaN,NaN,NaN,1.636343e+07,1.000000,1.000000,NaN,51.485850,...,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.200000
50%,2.573346e+07,2.020041e+13,NaN,NaN,NaN,5.013476e+07,1.000000,1.000000,NaN,51.514080,...,10.000000,10.000000,10.000000,10.000000,9.000000,1.000000,1.000000,1.000000,0.000000,0.560000
75%,3.654165e+07,2.020041e+13,NaN,NaN,NaN,1.522947e+08,5.000000,5.000000,NaN,51.537620,...,10.000000,10.000000,10.000000,10.000000,10.000000,5.000000,2.000000,1.000000,0.000000,1.270000
max,4.318679e+07,2.020041e+13,NaN,NaN,NaN,3.437914e+08,1237.000000,1237.000000,NaN,51.681690,...,10.000000,10.000000,10.000000,10.000000,10.000000,928.000000,926.000000,220.000000,18.000000,22.690000

In [8]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
name                                             object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 106, dtype: object