In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score, mean_squared_error

#import seaborn as sns
#%matplotlib inline

In [2]:
df_dict = {}

for file in os.listdir('Data/'):
    df = pd.read_csv('Data/' + file, encoding='latin1', dtype='str')
    name = 'df_' + file[:4]
    df_dict[name] = df
    
print(df_dict.keys())

dict_keys(['df_2012', 'df_2011', 'df_2014', 'df_2017', 'df_2018', 'df_2013', 'df_2015', 'df_2016', 'df_2019'])

In [3]:
for k,v in df_dict.items():
    print(k, v.shape)

df_2012 (6244, 75)
df_2011 (2814, 65)
df_2014 (7644, 120)
df_2017 (51392, 154)
df_2018 (98855, 129)
df_2013 (9743, 128)
df_2015 (26087, 222)
df_2016 (56030, 66)
df_2019 (88883, 85)

In [4]:
# Function to drop columns with Unnamed:
def drop_columns(dataframe):
    
    col_list = []
    for col in dataframe.columns: 
        if 'Unnamed' in col:
            col_list.append(col)
            
    dataframe = dataframe.drop(col_list,axis=1)
    
    return dataframe

In [5]:
for k,v in df_dict.items():
    df_dict[k] = drop_columns(v)

In [6]:
for k,v in df_dict.items():
    print(k, v.shape)

df_2012 (6244, 24)
df_2011 (2814, 19)
df_2014 (7644, 37)
df_2017 (51392, 154)
df_2018 (98855, 129)
df_2013 (9743, 29)
df_2015 (26087, 12)
df_2016 (56030, 65)
df_2019 (88883, 85)

In [7]:
df_dict['df_2012'].head()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you currently work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,What is your involvement in purchasing products or services for the company you work for? (You can choose more than one),What types of purchases are you involved in?,"What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?",...,"Including bonus, what is your annual compensation in USD?",Have you visited / Are you aware of Stack Overflow Careers?,Do you have a Stack Overflow Careers Profile?,"You answered you don't have a Careers profile, can you elaborate why?",Which technology products do you own? (You can choose more than one),"In the last 12 months, how much money have you spent on personal technology-related purchases?",Please rate the advertising you've seen on Stack Overflow,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,Which of our sites do you frequent most?
0,Response,Response,Response,Response,Response,Response,Response,Influencer,Hardware,Response,...,Response,Response,Response,Response,iPhone,Response,The ads are relevant,Open-Ended Response,Response,Response
1,India,NaN,20-24,<2,Consulting,"Fortune 1000 (1,000+)",Server Programmer,Influencer,Hardware,"<$10,000",...,"<$20,000",Yes,"No, but I want one! (Please provide email and ...",NaN,iPhone,"$501-$1,000",NaN,NaN,NaN,NaN
2,Germany,NaN,25-29,<2,Other,Mature Small Business (25-100),Embedded Application Developer,NaN,NaN,Don't know,...,"$20,000 - $40,000",No,No thank you,Thought Careers site was just about finding a ...,NaN,$100-$250,Neutral,NaN,Don't have an account,Stack Overflow
3,United Kingdom,NaN,20-24,41070,Finance / Banking,Mature Small Business (25-100),Web Application Developer,Influencer,Hardware,"$25,001 - $40,000",...,"$20,000 - $40,000",Yes,No thank you,Thought Careers site was just about finding a ...,iPhone,"$1,001-$2,000",Neutral,NaN,1,Stack Overflow
4,France,NaN,20-24,40944,Software Products,Mature Small Business (25-100),Embedded Application Developer,NaN,NaN,NaN,...,"$20,000 - $40,000",Yes,"No, but I want one! (Please provide email and ...",NaN,NaN,"$1,001-$2,000",Agree,None !,Don't have an account,Stack Overflow

In [ ]:
# Run this code cell to check how many null values are in the data set
df_dict['df_2012'].isnull().sum()