In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score, mean_squared_error

#import seaborn as sns
#%matplotlib inline

In [2]:
df_2011 = pd.read_csv('Data/2011 Stack Overflow Survey Responses.csv', encoding='latin1', dtype='str')

In [4]:
df_2011.head()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
0,Response,Response,Response,Response,Response,Response,Response,Response,Influencer,Recommender,...,AppleTV,iPad,Other netbook,PS3,Xbox,Wii,Other gaming system,other (please specify),Response,Response
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<$100,NaN
2,Other Europe,NaN,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,It's been known to happen,NaN,NaN,...,NaN,NaN,Other netbook,NaN,NaN,NaN,NaN,NaN,$251-$500,Stack Overflow
3,India,NaN,25-29,41435,Software Products,Mid Sized (100-999),Server Programmer,Unless it's stoopid it gets done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Germany,NaN,< 20,41310,Foundation / Non-Profit,Student,Student,It's been known to happen,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Wii,Other gaming system,NaN,"$501-$1,000",Stack Overflow

In [ ]:
df_dict = {}

for file in os.listdir('Data/'):
    df = pd.read_csv('Data/' + file, encoding='latin1', dtype='str')
    name = 'df_' + file[:4]
    df_dict[name] = df
    
print(df_dict.keys())

In [ ]:
for k,v in df_dict.items():
    print(k, v.shape)

In [ ]:
# Function to drop columns with Unnamed:
def drop_columns(dataframe):
    
    col_list = []
    for col in dataframe.columns: 
        if 'Unnamed' in col:
            col_list.append(col)
            
    dataframe = dataframe.drop(col_list,axis=1)
    
    return dataframe

In [ ]:
for k,v in df_dict.items():
    df_dict[k] = drop_columns(v)

In [ ]:
for k,v in df_dict.items():
    print(k, v.shape)

In [ ]:
df_dict['df_2012'].head()

In [ ]:
df_dict['df_2013'].head()

In [ ]:
df_dict['df_2019'].head()